/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/*=============== VARIABLES CSS ===============*/
:root {
    
    /*========== Color Scheme ==========*/

    /*---------- PERMANENT ----------*/
    --color-lightest-white: #fff;
    --color-lighter-white: #f4f3ee;
    --color-darker-black: #151111;
    --signbtncolor-intro: #230A34;
    --timeline-post-color: #878686;
    --search-icon-color--search-icon-color: #3C3535;

    /*---------- Gradient Scheme ----------*/
    --gradient-color1: #dcdace;
    --gradient-color2: #eec9d1;
    --gradient-color3: #c2aafe;
    --gradient-color4: #c0eefd;

    /*---------- Intro ----------*/
    --fontcolor-1: #000000;
    --fontcolor-2: #151111;

    --bullets-inactive-color: #151111;
    --bullets-hover-color: #fff;
    --bullets-active-color: #151111;

    /*---------- Navigation ----------*/
    --navbar-blur-bgcolor: rgba(255, 255, 255, 0.24);
    --bgcolor-1: #f4f3ee; 
    --bgcolor-2: #352e2e;

    /*---------- Timeline ----------*/
    --timeline-container-color: #f4f3ee;
    --timeline-btns-color: #d6d3d396;
    --timeline-postbtn-color: #878686;

    --search-container-color: #f4f3ee;
    --side-content-container-color: #ffffff1a;

    --trend-content-li-color: #f4f3ee;
    --trend-content-btn-color: #f4f3ee;
    --trend-content-p-color: #7c547e;
    /*---------- Profile ----------*/
    --home-content-container-color: #f4f3ee;
    --font-text-muted-color: #bebbbb;

    /*======= Font and typography =====*/
    --body-font: 'Open Sans', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --larger-font-size: 1.2rem;
    --large-font-size: 1.125rem;
    --small-font-size: 0.75rem;

    /*========== Font weight ==========*/
    --weight-300: 300;
    --weight-400: 400;
    --weight-600: 600;
}

#dark-mode{
    /*---------- Gradient Scheme ----------*/
    --gradient-color1: #854F6C;
    --gradient-color2: #522B5B;
    --gradient-color3: #2B124C;
    --gradient-color4: #190D19;

    /*---------- Intro ----------*/
    --fontcolor-1: #fff;
    --fontcolor-2: #f4f3ee;

    --bullets-inactive-color: #aaa;
    --bullets-hover-color: #151111;
    --bullets-active-color: #fff;

    /*---------- Navigation ----------*/
    --navbar-blur-bgcolor: rgba(0, 0, 0, 0.24);
    --bgcolor-1: #151111;
    --bgcolor-2: #f4f3ee;

    /*---------- Timeline ----------*/
    --timeline-container-color: #3C3535;
    --timeline-btns-color: #262328;
    --timeline-postbtn-color: #878686;

    --search-container-color: #5E5555;
    --side-content-container-color: #3C35351a;

    --trend-content-li-color: #3C3535;
    --trend-content-btn-color: #645f5f;
    --trend-content-p-color: #baa2c4;
    /*---------- Profile ----------*/
    --home-content-container-color: #3C3535;
    --font-text-muted-color: #606060;
}

/*=============== BASE ===============*/
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body,
    input {
        font-family: var(--body-font);
        height: 100vh;
    }

    .indexpage-main {
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        background: linear-gradient(to top right, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/*--------------- FOR HOME HTML ---------------*/

    .homepage-body *{
        outline: 0;
        appearance: none;
        border: 0;
        text-decoration: none;
        list-style: none;
        /*background-color: pink;*/
    }
    .homepage-body{
        background: linear-gradient(to top right, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
        overflow-x: hidden;
    }


/*=============== REUSABLE CSS CLASSES ===============*/
    h1{
        font-weight: 800;
        font-size: var(--h1-font-size);
    }
    h2{
        font-size: var(--h2-font-size);
    }
    h3{
        font-size: var(--h3-font-size);
    }
    h4{
        font-size: var(--h4-font-size);
        color: var(--text-color);
    }
    small, p{
        font-size: var(--small-font-size);
    }
    .text-muted{
        color: var(--text-muted-color);
    }

/*=============== PRELOADER ================*/
    .loading-page {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;

        opacity: 1;
        transform: translateY(0);
        transition: opacity 1s ease, transform 1s ease;
    }

    #svg {
        height: 100px;
        width: 100px;
        stroke: var(--color-lightest-white);
        fill-opacity: 0;
        stroke-width: 10px;
        stroke-dasharray: 4500;
        animation: draw 4s ease;
    }


    @keyframes draw {
        0% {
            stroke-dashoffset: 4500;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }

    .logo-name {
        color: var(--color-lightest-white);
        font-size: var(--h3-font-size);
        font-weight: var(--weight-400);
        letter-spacing: 12px;
        text-transform: uppercase;
        margin-left: 20px;
        
    }

    .exit-animation {
        opacity: 0;
        transform: translateY(-20px);
    }

/*=============== LOGIN PAGE ===============*/
    .box {
    position: relative;
    width: 100%;
    display: none;
    max-width: 1020px;
    height: 600px;
    background: rgba(255,255,255,0.1);
    border-color: var( --color-lightest-white);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow: 0 25px 45px rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);

    }
    .inner-box {
        position: absolute;
        width: calc(100% - 4.5rem);
        height: calc(100% - 4.5rem);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .forms-wrap {
        position: absolute;
        height: 100%;
        width: 45%;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        transition: 0.8s ease-in-out;
    }

    form {
        max-width: 260px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        transition: opacity 0.02s 0.4s;
    }

    form.sign-up-form {
        opacity: 0;
        pointer-events: none;
    }

    .intro-logo {
        display: flex;
        align-items: center;
    }

    .intro-logo img {
        width: 40px;
        margin-right: 0.5rem;
    }

    .intro-logo h4 {
        font-size: 1rem;
        letter-spacing: -0.5px;
        color: var(--fontcolor-1);
    }

    .heading h2 {
        font-size: 2.1rem;
        font-weight: var(--weight-600);
        color: var(--fontcolor-2);
    }

    .heading h6 {
        color: var(--fontcolor-2);
        font-weight: var(--weight-400);
        font-size: 0.75rem;
        margin-top: 0.5rem;
        display: inline;
    }

    .toggle {
        color: var(--color-darker-black);
        text-decoration: underline;
        font-size: 0.75rem;
        font-weight: var(--weight-600);
        transition: 0.3s;
    }

    .toggle:hover {
        color: var(--color-lightest-white);
    }

    .input-wrap {
        position: relative;
        height: 37px;
        margin-bottom: 2rem;
    }

    .input-field {
        position: absolute;
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--fontcolor-2);
        padding: 0;
        font-size: 0.95rem;
        color: var(--fontcolor-2);
        transition: 0.4s;
    }


    label {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0.95rem;
        color: var(--fontcolor-2);
        pointer-events: none;
        transition: 0.4s;
    }

    .input-field.active {
        border-bottom-color: var(--fontcolor-2);
    }

    .input-field.active + label{
        font-size: 0.75rem;
        top: -2px;
    }

    .fa-solid{
        margin-left: 15rem;
        cursor: pointer;
        top: 0;
        position: absolute;
    }

    .sign-btn {
        display: inline-block;
        width: 100%;
        height: 43px;
        background: var(--signbtncolor-intro);
        color: var(--color-lightest-white);
        font-weight: 600;
        border: none;
        cursor: pointer;
        border-radius: 0.8rem;
        font-size: 0.8rem;
        margin-bottom: 2rem;
        transition: 0.3s;
    }

    .sign-btn:hover {
        background-color: var(--color-lightest-white);
        color: var(--color-darker-black);
    }

    .text {
        color: var(--fontcolor-2);
        font-size: 0.7rem;
    }

    .text a{
        color: var(--fontcolor-2);
        transition: 0.3s;
    }

    .text a:hover {
        color: var(--fontcolor-2);
    }

    main.sign-up-mode form.sign-in-form {
        opacity: 0;
        pointer-events: none;
    }

    main.sign-up-mode form.sign-up-form {
        opacity: 1;
        pointer-events: all;
    }

    main.sign-up-mode .forms-wrap {
        left: 55%;
    }

    main.sign-up-mode .carousel {
        left: 0%;
    }

    .carousel {
        position: absolute;
        height: 100%;
        width: 55%;
        left: 45%;
        top: 0;
        background: linear-gradient(to top left, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
        border-radius: 2rem;
        display: grid;
        grid-template-rows: auto 1fr;
        padding-bottom: 2rem;
        overflow: hidden;
        transition: 0.8s ease-in-out;
    }

    .images-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .image {
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
        opacity: 0;
        transition: opacity 0.3s, transform 0.5s;
    }

    .img-1 {
        transform: translate(0, -50px);
    }

    .img-2 {
        transform: scale(0.4, 0.5);
    }

    .img-3 {
        transform: scale(0.3) rotate(-20deg);
    }

    .image.show {
        opacity: 1;
        transform: none;
    }

    .text-slider {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text-wrap {
        max-height: 2.2rem;
        overflow: hidden;
        margin-bottom: 2.5rem;
    }

    .text-group {
        display: flex;
        flex-direction: column;
        text-align: center;
        transform: translateY(0);
        transition: 0.5s;
    }

    .text-group h2 {
        line-height: 2rem;
        color: var(--fontcolor-2);
        font-weight: var(--weight-600);
        font-size: 1rem;
    }

    .bullets {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bullets span {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        background-color: var(--bullets-inactive-color);
        margin: 0 0.25rem;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
    }

    .bullets span:hover {
        background-color: var(--bullets-hover-color);
    }

    .bullets span.active {
        width: 1.1rem;
        background-color: var(--bullets-active-color);
        border-radius: 1rem;
    }  
    

/*=============== NAVIGATION ==============*/
    .home-container{
        display: grid;
        width: 86%;
        margin: 0 auto;
        gap: 4.8rem;
        grid-template-columns: 18rem auto 18rem; /*size ni each section*/
        height: 100%;
        transition: all .5s ease;
        overflow: hidden;
    }


    /*for the 3 sections on main*/
    .home-container nav{
        background: var(--navbar-blur-bgcolor);
        backdrop-filter: blur(50px);
        width: 300px;
        transition: all 1s ease;
        height: 100vh;
    }
    .home-container .top{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1.4rem auto auto auto; /*move this for the logo*/
    }
    .home-logo{
        display: flex;
        gap: .8rem;
        align-items: center;
        overflow-x: hidden;
    }
    .home-logo img{
        display: block;
        width: 50%;  
        width: 4.5rem;
        height: 4.5rem;
        transition: all .5s ease;
    }
    .home-logo h2{
        background: transparent;
        background: var(--fontcolor-2); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .nav-container{
        display: flex;
        flex-direction: column;
        height: 84vh; /*scrolling page*/
        position: relative;
        overflow-x: hidden;
        top: 3rem;
    }
    .nav-container.active, .home-container nav.active{
        width: 70px;
    }

    .nav-container ul{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: 55px;
        padding-top: 40px;
        transition: all .5s ease;
    }
    .nav-container ul li{
        position: relative;
        list-style: none;
        margin-top: 25px;
        width: 100%;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    .nav-container ul li.active{
        /*ADJUST GRADIENT*/
        /*background: linear-gradient(to bottom left, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4)); 
        */
        background: var(--bgcolor-1);
    }
    .nav-container ul li.active b:nth-child(1),
    .nav-container ul li.active b:nth-child(2) {
        display: block;
    }

    .nav-container ul li.active a{
        transform: translateX(2rem);
    }
    .nav-container ul li:hover i, .nav-container ul li:hover h3{
        background: var(--fontcolor-2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 200ms ease;
    }
    .nav-container ul li.active i, .nav-container ul li.active h3{
        background: var(--fontcolor-2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .nav-btn{
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        text-decoration: none;
        color: var(--bgcolor-1);
        font-size: 30px;
        transition: transform 300ms ease;
    }
    .nav-container ul li i{
        position: relative;
        display: block;
        min-width: 40px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        margin-right: 5px;
        font-size: 20px;
    }
    .nav-container ul li h3{
        font-size: 23px;
        position: relative;
        display: block;
        padding-left: 10px;
        height: 60px;
        line-height: 60px;
        white-space: normal;
    }

    .outer-btn{
        position: relative;
        display: inline-flex;
        margin-left: 50px;
        top: 300px;
        height: 50px;
        width: 200px;
        overflow: hidden;
        transition: all .2s ease;
        border-radius: 197px;
    }
    .outer-btn i{
        display: none;
    }
    .outer-btn .inner-btn{
        position: absolute;
        width: 200%;
        height: 100%;
        left: -100%;
        transition: all 500ms ease;
    }

    #navPost {
        background: var(--bgcolor-2);
    }

    .post-btn{
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        background: none;
        z-index: 1;
        letter-spacing: 2px;
        text-transform: uppercase;
        cursor: pointer;
    }

    #postbtn{
        color: var(--fontcolor-2);
        font-size: 15px;
        margin: 0 auto;
        resize: none;
        cursor: pointer;
        border-radius: 150px;
        border-color: none;
    }

    #postbtn:enabled {
        background: linear-gradient(to top right, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
        transition: all 500ms ease;
    }
    
    #postbtn:disabled {
        background-color: var(--timeline-postbtn-color);
        cursor: not-allowed;
    }

    .post-btn h3{
        font-size: 20px;
    }
    .post-btn i{
        font-size: 10px;
    }
    #postbtn:enabled:hover, .outer-btn:hover{
        transform: scale(1.03);
        box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
    }
    #postbtn:enabled:active, .outer-btn:active{
        transform: scale(0.96);
    }

    #boxPost {
        background: var(--timeline-post-color);
        margin-left: 4rem;
    }

    #counter {
        color: var(--timeline-post-color);
        font-size: 1rem;
        margin-top: 0.50rem;
        margin-left: rem;
    }

    .nav-user, .post-btn{
        color: var(--bgcolor-1);
    }
    .nav-user-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-user {
        display: flex;
        margin: .5rem auto;
        padding: 5px 15px;
        border-radius: 20px;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        position: absolute;
        bottom: 3rem;
        transition: all 500ms ease;
    }

    .nav-user:hover {
        transform: scale(1.03);
        cursor: pointer;
        box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.3);
    }
    .nav-user img{
        width: 3.5rem;
        height: 3.5rem;
    }

    .nav-usertxt h4 {
        display: flex;
        white-space: nowrap;
        margin: 0;
    }

    .nav-user i {
        margin-left: 8px;
        font-size: 18px;
    }

    .user-popup {
        background: var(--bgcolor-1);
        display: none;
        margin: .5rem auto;
        left: 10%;
        padding: 10px 25px;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 8.9rem;
        box-shadow: 2px 4px 20px rgba(161, 154, 154, 0.3);
        transition: all 500ms ease;
    }
    .user-popup.active {
        display: block;
    }
    .user-popup button{
        background: transparent;
    }
    .user-popup h4 {
        font-weight: 600;
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 700;
    }
    .user-popup h4, .user-popup i{
        transition: all 400ms ease;
        cursor: pointer;
        color: var(--font-text-muted-color);
    }
    .user-popup h4:hover, .user-popup i:hover{
        transform: scale(1.03);
        color: var(--fontcolor-2);
    }
    .user-popup i{
        font-size: 24px;
        padding-top: .5rem;
        padding-bottom: .5rem;
        display: none;
    }
/*=============== HOMEPAGE ==============*/
    .homepage-main{
        overflow-y: auto;
    }
    .homepage-main::-webkit-scrollbar {
        display: none;
    }


    #username{
        margin-left: 10px;
        font-style: var(--big-font-size);
        color: var(--fontcolor-2);
        font-weight: var(--weight-600);
        font-size: var(--h4-font-size);
    }
    #userPost{
        font-family: var(--body-font);
        color: var(--fontcolor-2);
        background: none;
        font-size: 15px;
        border: none;
        padding: 5px 5px;
        margin-top: 0.25rem;
        width: 100%;
        box-sizing: border-box;
        resize: none;
        overflow-y: hidden;
    }

    .btn-container{
        display: flex;
        gap: 0.5rem;
        margin: 8px auto auto 8px;
        transition: all 200ms ease;
    }
    .btn-container.viewpost{
        gap: 5rem;
        padding-left: 70px;
        justify-content: center;
        align-items: center;
        transition: all 200ms ease;
    }
    
    .btn-container button:not(:last-child){
        justify-content: center;
        align-items: center;
        display: inline-block;
        background: none;
        border: none;
        border-radius: 50%;
        color: var(--timeline-btns-color);
        cursor: pointer;
        font-size: 18px;
        margin-right: 10px;
        padding: 5px 3px;
        transition: all 200ms ease;
      }
      .btn-container button:not(:last-child):hover{
        background: linear-gradient(to top right, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    .btn-container button:not(:last-child).active {
        background-color: transparent;
        background: linear-gradient(to top right, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        cursor: pointer;
        animation: scale-in 1s ease forwards;
      }
      
      @keyframes scale-in {
        from {
          transform: scale(1.3);
        }
        to {
          transform: scale(1);
        }
      }
      

    .btn-container #gif {
        color: var(--fontcolor-2);
        font-size: 9px; 
        margin-bottom: 6px;
        padding: 3px 3px;
        border-radius: 2px;
        background: var(--timeline-btns-color);
        transition: all 200ms ease-in-out;
    }
    .btn-container #gif:hover {
        transition: all 200ms ease-in-out;
        background: linear-gradient(to top right, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
    }
    .btn-container #gif:active{
        transition: all 200ms ease-in-out;
        background: linear-gradient(to top right, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
    }

    .btn-container .outer-btn{
        display: flex;
        margin-left: unset;
        border-radius: 20px;
        height: 30px;
        width: 80px;
        top: unset;
    }

    .content-container {

        border-radius: 15px;
    }
    .content-post #user-img{
        height: 2rem;
        width: 2rem;
        transition: all 500ms ease;
    }
    .post-container {
        gap: 1.6rem;
        display: block;
        margin: 15px auto;
        padding: 20px;
        background: var(--home-content-container-color);
        border-radius: 30px;
    }
    
    .post-header {
        display: flex;
        align-items: center;
    }
    .post-header #userphoto-img {
        height: 2rem;
        width: 2rem;
        border-radius: 10px;
    }
    .post-header #username {
        text-align: center;
        margin-right: 10px;
    }
    .post-header #timePosted{
        color: #3432326c;

    }

    .post-text{
        padding: 7px;
        color: var(--bgcolor-2);
        font-size: 14px;
        line-height: 1.5;
    }
    #postbtn i{
        display: none;
        transition: all 200ms ease;
    }
    .bold-text{
        font-weight: 800;
        color: var(--bgcolor-2);
    }
    .post-media {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px; 
        margin: 15px auto;
        transition: 500ms ease-in-out;
        align-items: center;
    }
    .post-media img {
        max-width: 100%; 
        height: 100%; 
        border-radius: 25px;
        transition: 500ms ease-in-out;
    }
    .post-media img:hover{
        transform: scale(1.03);
    }

    /*------------- PROFILE PAGE -------------*/
    .profile-main{
        margin-top: 1.4rem;
        display: none;
    }

    .header-pic img{
        height: 100%;
        width: 100%;
        border-radius: 30px;
        display: flex;
        z-index: 0;
        position: relative;
    }
    .profile-container{
        display: flex;
        background: var(--home-content-container-color);
        padding: 1rem;
        border-radius: 0px 0px 30px 30px;
        height: 30%;
        margin-top: -2rem;
        z-index: 1;
        position: relative;
        flex-direction: column;
    }
    .profile-container img{
        padding: 5px 10px;
        align-self: flex-start;
        margin-top: -5.5rem;
        width: 150px;
        height: auto; 
    }

    .profile-container h4{
        font-style: var(--big-font-size);
        color: var(--fontcolor-2);
        margin: 0rem 1rem 0rem;
        align-self: flex-start;
    }
    .profile-container i{
        padding-right: 1rem;
        margin-bottom: 1rem;
    }
    .profile-container h5{
        font-style: var(--big-font-size);
        color: var(--font-text-muted-color);
        margin: 0rem 1rem;
        align-self: flex-start;
    }
    .profile-container p{
        font-style: var(--body-font);
        color: var(--fontcolor-2);
        margin: 1rem 1rem;
        align-self: flex-start;
    }

    .profile-follows{
        display: flex;
    }
    .profile-follows h5{
        margin: 0rem 0rem 0rem 0.3rem;
        align-self: flex-start;
    }
    .profile-follows h5:nth-child(1),.profile-follows h5:nth-child(3) {
        font-style: var(--big-font-size);
        color: var(--fontcolor-2);
        margin-left: 1rem;
    }

/*=============== SIDECONTENT(right) ==============*/
    .sidecontent-container{
        justify-content: center;
        align-items: center;
        margin: 0 5px 0 0;
        padding: 0.5rem 0.5rem 0.5rem auto;
        width: 100%;
    }
    .search-container{
        background-color: var(--search-container-color);
        display: flex;
        padding: 1rem;
        margin: 0 auto;
        border-radius: 30px;
        height: 2.5rem;
        align-items: center;
    }
    .search-container i{
        color: var(--search-icon-color);
        font-size: 22px;
    }
    .search-container input {
        padding: 1rem;
        background: transparent;
        color: var(--color-lightest-white);
        height: 27px;
        width: 225px;
        display: inline-block;
      }


    /*------------- RECOMMENDED USER PAGE -------------*/
    .tofollow-container {
        gap: 1.6rem;
        background: var(--side-content-container-color);
        backdrop-filter: blur(7px);
        box-shadow: 0 25px 45px rgba(0, 0, 0, 0.09);
        display: flex;
        color: var(--fontcolor-2);
        padding: 1rem;
        margin: 15px auto;
        border-radius: 30px;
        height: 35vh; 
        flex-direction: column;
        overflow-y: auto; 
    }

    .tofollow-container::-webkit-scrollbar {
        width: 10px;
    }
    
    .tofollow-container::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
        border-radius: 5px;
    }
    
    .tofollow-container::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color); 
    }
    
    .user-container {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    #user-img {
        width: 2rem;
        height: 2rem;
        margin-right: 10px;
    }
    
    .user-name {
        font-size: 16px;
        font-weight: bold;
        text-decoration: underline;
        margin-bottom: 5px;
        color: rgb(0, 0, 0);
    }
    
    .follow-button, .unfollow-button {
        padding: 3px 7px;
        font-size: 14px;
        cursor: pointer;
        border: 2px solid rgba(255, 255, 255, 20%);
        border-radius: 3px;
        background: linear-gradient(to top right, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
    }



    /*------------- TREND CONTENT PAGE -------------*/
    .trend-container {
        backdrop-filter: blur(10px);
        box-shadow: 0 25px 45px rgba(0,0,0,.12);
        display: flex;
        color: var(--fontcolor-2);
        padding: 1rem;
        margin: 15px auto;
        border-radius: 30px;
        height: auto;
        flex-wrap: wrap;
    }

    .trend-content{
        width: 100%;
        height: auto;
        padding: 15px auto 0px 15px;
    }

    .trend-content h3{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .trend-content li{
        font-size: 15px;
        background: var(--trend-content-li-color);
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px 0px 0px;
        padding: 0px 10px 0px 7px;
        border-radius: 10px;
    }
    .trend-content li:hover{
        transform: scale(1.02);
        transition: 100ms;
    }
    /*if tag name exceeded*/
    .trend-content li a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration: none;
        font-weight: 500;
        color: var(--fontcolor-2);
    }

    .trend-content li p{
        color: var(--bgcolor-1);
    }

    .trend-content button{
        border: none;
        outline: none;
        background: none;
        margin-right: 5px;
        color: var(--trend-content-btn-color);
        transition: .3s linear;
        cursor: pointer;
    }
    
    .trend-content button:hover{
        color: var(--fontcolor-2);
    }

    .trend-content button i{
        margin-right: 5px;
    }
    .trend-content .trend p{
        color: #7c547e;
    } 
    
    .more {
        display: none;
    }
    
    .show {
        display: block;
    }

    .see-more{
        width: 100%;
        color: var(--color-lightest-white);
        font-weight: 400;
        font-size: 12px;
        padding: 10px 0;
        text-align: center;
        transition: .3s linear;
        cursor: pointer;
    }

/*=============== BREAKPOINTS ===============*/
    @media(max-width: 1370px){
        /*------------- PROFILE PAGE -------------*/
        .profile-container{
            height: 33%;
        }
        .profile-container img{
            margin-top: -4rem;
            width: 100px;
            height: auto;
        }

        /*------------- NAVIGATION BAR -------------*/
        .nav-container.active, .home-container nav.active{
            width: 300px;
        }
        .nav-container ul{
            padding-left: 15px;
        }
        .nav-container ul li.active a{
            transform: translateX(.6rem);
        }
        .nav-user{
            padding: 0;
            border-radius: 50px;
        }
        .nav-user img{
            width: 3rem;
            height: 3rem;
        }
        .nav-usertxt, .nav-user i{
            display: none;
        }
        .outer-btn{
            height: 45px;
            width: 45px;
            margin: auto;
        }
        .outer-btn h3{
            display: none;
        }
        .outer-btn i{
            font-size: 15px;
            display: unset;
        }
        .user-popup{
            left: 1%;
            bottom: 9rem;
        }
        .user-popup h4{
            display: none;
        }
        .user-popup i{
            display: flex;
        }
        

        /*------------- CONTENT PAGE -------------*/
        .home-container{
            width: 100%;
            grid-template-columns: 5rem 40rem auto;
            gap: 1rem;
        }
        .home-logo img{
            width: 3rem;
            height: 3rem;
            margin-left: 10px;
        }
        .home-container nav{
            width: 70px;
        }
        .btn-container{
            gap: 0rem;
        }
        .btn-container.viewpost{
            gap: 4rem;
            padding-left: 30px;
        }
    }

    @media (max-width: 1150px) {
        /*------------- CONTENT PAGE -------------*/
        .home-container{
            width: 100%;
            grid-template-columns: 5rem 40rem auto;
            gap: 1rem;
        }
        .home-logo img{
            width: 3rem;
            height: 3rem;
            margin-left: 10px;
        }
        .home-container nav{
            width: 70px;
        }

        .btn-container{
            gap: 0rem;
        }
        .btn-container.viewpost{
            gap: 4rem;
        }

        /*------------- PROFILE PAGE -------------*/
        .profile-container{
            height: 35%;
        }
    }

    @media (max-width: 1050px) {
        /*------------- CONTENT PAGE -------------*/
        .home-container{
            width: 100%;
            grid-template-columns: 5rem auto 20rem;
            gap: 1rem;
        }
        .btn-container{
            gap: 1rem;
        }
        .btn-container.viewpost{
            gap: 3rem;
            padding-left: 50px;
        }
        .btn-container-post{
            margin-left: -20px;
        }

    }

    @media (max-width: 850px) {
    /*------------- LOADING PAGE -------------*/
        .box {
            height: auto;
            max-width: 550px;
            overflow: hidden;
        }

        .inner-box {
            position: static;
            transform: none;
            width: revert;
            height: revert;
            padding: 2rem;
        }

        .forms-wrap {
            position: revert;
            width: 100%;
            height: auto;
        }

        form {
            max-width: revert;
            padding: 1.5rem 2.5rem 2rem;
            transition: transform 0.8s ease-in-out, opacity 0.45s linear;
        }

        .heading {
            margin: 2rem 0;
        }

        .fa-solid {
            margin-left: 24rem;
        }

        form.sign-up-form {
            transform: translateX(100%);
        }

        main.sign-up-mode form.sign-in-form {
            transform: translateX(-100%);
        }

        main.sign-up-mode form.sign-up-form {
            transform: translateX(0%);
        }

        .carousel {
            position: revert;
            height: auto;
            width: 100%;
            padding: 3rem 2rem;
            display: flex;
        }

        .images-wrapper {
            display: none;
        }

        .text-slider {
            width: 100%;
        }

        /*------------- RECOMMENDED USER PAGE -------------*/

        /*------------- CONTENT PAGE -------------*/
        .userpost-hide{
            display: none;
        }
        .home-container{
            width: 100%;
            grid-template-columns: 5rem auto 15rem;
            gap: 1rem;
        }
        .btn-container{
            gap: 1rem;
        }
        .btn-container.viewpost{
            gap: 2.5rem;
        }
        
    }

    @media (max-width: 690px) {
        /*------------- CONTENT PAGE -------------*/
        .btn-container{
            gap: 0rem;
            margin: 0 auto;
        }
        #postbtn{
            padding: 0;
        }
        #postbtn i{
            display: block;
            width: 50px;
        }
        #postbtn .bold-text{
            display: none;
        }
        .btn-container i{
            font-size: 15px;
        }
        .btn-container.viewpost{
            gap: 0.5rem;
            padding-left: 25px;
        }
    }


    @media (max-width: 600px) {
    /*------------- LOADING PAGE -------------*/
        main {
            padding: 1rem;
        }
        
        .box {
            border-radius: 2rem;
        }

        .inner-box {
            padding: 1rem;
        }

        .fa-solid {
            margin-left: 18rem;
        }

        .carousel {
            padding: 1.5rem 1rem;
            border-radius: 1.6rem;
        }

        .text-wrap {
            margin-bottom: 1rem;
        }

        .text-group h2 {
            font-size: 1.2rem;
        }

        form {
            padding: 1rem 2rem 1.5rem
        }

        /*------------- NAVIGATION BAR -------------*/

        /*------------- CONTENT PAGE -------------*/
        .home-container{
            width: 100%;
            grid-template-columns: 5rem auto 10rem; 
        }
        
        .btn-container{
            gap: 0rem;
        }
        .btn-container.viewpost{
            gap: 0.5rem;
            padding-left: 25px;
        }

        /*------------- PROFILE PAGE -------------*/
        .profile-container{
            height: 38%;
        }
        .profile-container img{
            margin-top: -4rem;
            width: 100px;
            height: auto;
        }
    }
